[server]
host: 0.0.0.0
port: 7125
klippy_uds_address: /home/<home>/printer_data/comms/klippy.sock

[authorization]
trusted_clients:
    10.0.0.0/8
    127.0.0.0/8
    169.254.0.0/16
    172.16.0.0/12
    192.168.0.0/16
    FE80::/10
    ::1/128
cors_domains:
    *.lan
    *.local
    *://localhost
    *://localhost:*
    *://my.mainsail.xyz
    *://app.fluidd.xyz

[file_manager]
queue_gcode_uploads: True
enable_object_processing: True

[job_queue]
load_on_startup: True

[power printer]
type: homeassistant
address: 192.168.x.x
port: 8123
device: switch.tp_link_power_strip
token: <Token>
restart_klipper_when_powered: True
locked_while_printing: False
on_when_job_queued: True
#off_when_shutdown: True
restart_delay: 3.

#[power printer]
#type: tasmota
#off_when_shutdown: False
#initial_state: off
#locked_while_printing: False
#restart_klipper_when_powered: True
#restart_delay: 1.
#address: 192.168.x.x

# [power LED]
# type: tasmota
# #initial_state: off
# address: 192.168.x.x
# output_id:2

[octoprint_compat]

[history]

[update_manager]
enable_auto_refresh: True

[update_manager fluidd-config]
type: git_repo
primary_branch: master
path: ~/fluidd-config
origin: https://github.com/fluidd-core/fluidd-config.git
managed_services: klipper

[update_manager fluidd]
type: web
channel: stable
repo: fluidd-core/fluidd
path: ~/fluidd

# Crowsnest update_manager entry
[update_manager crowsnest]
type: git_repo
path: ~/crowsnest
origin: https://github.com/mainsail-crew/crowsnest.git
managed_services: crowsnest
install_script: tools/pkglist.sh

# moonraker.conf
[update_manager timelapse]
type: git_repo
primary_branch: main
path: ~/moonraker-timelapse
origin: https://github.com/mainsail-crew/moonraker-timelapse.git
managed_services: klipper moonraker

[update_manager Klipper-Adaptive-Meshing-Purging]
 type: git_repo
 channel: dev
 path: ~/Klipper-Adaptive-Meshing-Purging
 origin: https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging.git
 managed_services: klipper
 primary_branch: main

[timelapse]
##   Following basic configuration is default to most images and don't need
##   to be changed in most scenarios. Only uncomment and change it if your
##   Image differ from standart installations. In most common scenarios 
##   a User only need [timelapse] in their configuration.
#output_path: ~/timelapse/
##   Directory where the generated video will be saved
#frame_path: /tmp/timelapse/
##   Directory where the temporary frames are saved
#ffmpeg_binary_path: /usr/bin/ffmpeg
##   Directory where ffmpeg is installed
